*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
}

@media screen and (max-width: 500px){
:root {
    color: orangered;
    
   }
}
:root{
    --root-font-size: calc(1rem + (5) * ((100vw - 300px) / (1080 - 300)));
    --height: 100%;
    --background-color: rgb(12, 150, 30);
    }
    @media screen and (max-width: 480px) {
        html {
            font-style: italic;
            
        }
    }
:root,html
body {
    height: 100%;
}

#add-list {
    width: 2em;
    
}
#textbox{
 
 text-align: center;
 
}
main{
    
    height: 60%;
}
html {
    box-sizing: border-box;
    font-size: calc(1rem + (5) * ((100vw - 300px) / (1080 - 300)));
}
input[type=checkbox] {
    width: 0;
    height: 0;
    opacity: 0;
}
ol li:nth-child(odd) 
{ 
background-color:var(--background-color,rgb(12, 150, 30));
 }
ol li:nth-child(even) 
{ 
background-color:rgb(214, 34, 34);
 }

input[type=checkbox] + label {
    position: relative;
}

input[type=checkbox] + label::before {
    

    content: '';
    position: absolute;
    top: 0.1em;
    left: -1.5em;
    width: 1em;
    height: .75em;
    border: thin solid grey;
    margin-right: 1em;
    padding: 0 .1em 1.1em .1em;
}

input[type=checkbox]:focus + label::before {
    outline: rgb(59, 153, 252) solid 0.1em;
}

input[type=checkbox]:checked + label::before {
    content: '🗸';
}

input[type="text"]{
    border: 1px solid brown;

}

#formList{
    display: flex;
    justify-content: center;
    height: calc(100% - 3rem);
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: space-between;
    justify-content: space-evenly;
}
#formAdd
{
     display: flex;
    height: 3em;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    
}

.unorderedlistDelete{
    animation: disappear 1s 2s;
   /* visibility: hidden; */
}


#unordered-list{
    
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: max-content;
    height: 100%;
    font-size: 1.3rem;
    list-style: none;
}
li.unorderedlist{
    /* animation: fade-out 0.5s ease-in 0.1s 1 forwards; */
    animation: fade-out 1s ease-in 2s none; 
    transition-property: width, opacity;
    transition-duration: 1000ms 1000ms;
}

.unorderedlist:hover{
    
    background: rgb(133, 14, 230);
    width: 150%;
    opacity: 0.8;
    transform: rotate(5deg);
    font-family: impact;
}


#unordered-list > li{
    height: 3em;

}
header, footer {
    display: flex;
    height: 30%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Footer */

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}
@keyframes fade-out /* Name */ {
    0% { /* key frame position */
        opacity: 1; /* property */
    }
    100% {
        opacity: 0;
    }
}

@keyframes disappear /* Name */ {
    from { /* key frame position */
        opacity: 1; /* property */
    }
    to {
        opacity: 0;
    }
}
